.container {
  display: flex;
  width: 100%;
}

.featuredContainer {
  width: 60%;
  padding: 10px;
}

.otherArticlesContainer {
  width: 40%;
  padding: 10px;
}

.mainFeaturedArticle {
  width: 100%;
}

.featuredImage {
  width: 100%;
  height: auto;
}

.mainArticleTitle {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.sideFeaturedArticle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sideArticleContent {
  display: flex;
  align-items: center;
}

.sideImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.sideArticleTitle {
  font-size: 18px;
  font-weight: bold;
}
